language: go
go:
  - 1.11.2

script:
  - go test ./...

services:
  - mysql
  - postgresql
  - rabbitmq

env:
- CONSUL_VERSION=1.4.2

before_install:
  - mysql -e 'CREATE DATABASE IF NOT EXISTS db_test;'
  - curl -sLo consul.zip https://releases.hashicorp.com/consul/${CONSUL_VERSION}/consul_${CONSUL_VERSION}_linux_amd64.zip
  - unzip consul.zip -d $HOME/bin
  - sudo apt-add-repository ppa:bitcoin/bitcoin -y
  - sudo apt-get update -qqmoving
  - sudo apt-get install bitcoind -y

apt_packages:
  - bitcoind

before_script:
  - psql -c 'CREATE DATABASE db_test;' -U postgres
  - cp btc-rpc/btc_init.sh /
  - /btc_init.sh &
